.buttonStyle[type=radio]{
    display: none;
}

.star{
    cursor: pointer;
}

.cardTop{
    display: flex;
    align-items: center;
}

.starRating{
    margin-left: 10px;
}

.cardContainer{
    margin-left: 70px;
    margin-bottom: 20px;
}