.uniCardContainer{
    flex: 3;
    width: 60%;
    margin-bottom: 70px;
    font-family: sans-serif;
   
}

.uniList{
    margin-top: 5px;
    margin-left: 40px;
    border-radius: 10px;
    border-style: inherit;
    list-style: none;
    font-family: sans-serif;
}


.uniImage{
    width: 200px;
    margin-left: 40px;
    margin-top: 0;
    border-radius: 10px;
    object-fit: contain;
}

.uniCardTop{
    padding: 10px;
    font-family: sans-serif;

}

.nameUni{
    margin-left: 40px;
    font-weight: bold;
}
.uniLocation{
    margin-left: 10px;
}